.Navigation{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.Navigation div{
  flex-direction: row;
}

@media(min-width: 500px){
  .Navigation{
    flex-direction: row;
  }
}
